<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Counter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="p-4 text-zinc-900">
    <div class="mb-6">
      <span>Connected to <%= current_region_name %></span>
    </div>

    <div class="flex flex-col items-center mx-auto my-0 md:w-1/2">
      <h1 class="mb-6 text-3xl text-bold">Hotwire Counter</h1>
      <%= yield %>
    </div>
  </body>
</html>
